body{
    background-image: url("img/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

img {
    position: absolute;
    height: 150px;
}

#logo{
    background-color: #ffffff58;
    height: 75px;
    width: 170px;
    box-shadow: 10px 10px 10px #00000010;
    border-radius: 6px;
}

.logo{
    top: -25px;
    left: 0;
}

#player{
    left: 0;
    top: 45vh;
}

#player2{
    left: 95vw;
    top: 45vh;
}

#ball{
    left: 48vw;
    top: 50vh;
    height: 80px;
}

#a, #b{
    position: absolute;
    height: 150px;
    top: 50vh;
    left: 0;
}

#b{
    left: 95vw;
}

.scoreboard {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(145deg, #ff0000, #006aff);
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid #ffffffbf;
    box-shadow: 10px 10px 10px #00000010;
}

.scoreboard h1 {
    color: #ffffffbf;
    margin: 0;
    font-size: 34px;
    font-family: 'Tahoma', sans-serif;
    letter-spacing: 1px;
}
